p {
    max-width: 65rem;
}

h3 {
    padding-left: 10%;
    padding-right: 10%;
}

/* both of these project classes align the text to the center of the center of
   the screen. I chose this over text-align because it looked better
*/
.project-text {
    padding-left: 25%;
    padding-right: 25%;
}

.project-title {
    text-align: center;
}


.red {
    color: red;
}

.imagebox {
    padding-left: 25%;
}

.Project-IMG {
    width: 25rem;
}
